<div fxLayout="column" class="h-100">
  <div fxFlex class="y-auto">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="h-100" [selectedIndex]="defaultTabIndex">
      <mat-tab label="Information">
        <div class="global-widget-area">
          <app-configs-information [widgetData]="widgetdataInformation"></app-configs-information>
        </div>
      </mat-tab>
      <mat-tab label="Inputs">
        <div class="global-widget-area">
          <div fxLayout="row">
            <div fxFlex="50" fxFlex.lt-lg="100">
              <div class="fw-bold pb-1">Select Input</div>
              <mat-form-field appearance="outline">
                <mat-select [ngModel]="getSelectedInputWidget()" (ngModelChange)="setSelectedInputWidget($event)"
                  name="inputWidgetSelector" placeholder="Select input">
                  <mat-option *ngFor="let inputWidget of inputWidgets" [value]="inputWidget">
                    {{ getWidgetOutputName(inputWidget) }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="global-widget-actions" *ngIf="!workflowCanvasService.IsViewingRunMode">
          <button mat-stroked-button color="primary" id="closeButton1" [disabled]="!inputChangeMade"
            (click)="onInputCancel()">
            Cancel
          </button>
          <button mat-flat-button color="primary" id="saveButton" [disabled]="!inputChangeMade" (click)="onInputSave()">
            Save
          </button>
        </div>
      </mat-tab>
      <mat-tab label="Outputs">
        <div class="global-widget-area">
          <div fxLayout="row">
            <div fxFlex="50" fxFlex.lt-lg="100">
              <div class="fw-bold pb-1">Select Output</div>
              <mat-form-field appearance="outline">
                <input matInput type="string" placeholder="Select output" [(ngModel)]="widgetOutput"
                  (ngModelChange)="widgetOutput = $event" />
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="50" fxFlex.lt-lg="100">
              <div class="fw-bold pb-1">Select Output 2</div>
              <mat-form-field appearance="outline">
                <input matInput type="string" placeholder="Select output2" [(ngModel)]="widgetOutput2"
                  (ngModelChange)="widgetOutput2 = $event; outputChangeMade = true;" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="global-widget-actions" *ngIf="!workflowCanvasService.IsViewingRunMode">
          <button mat-stroked-button color="primary" id="closeButton2" [disabled]="!outputChangeMade"
            (click)="onOutputCancel()">
            Cancel
          </button>
          <button mat-flat-button color="primary" id="createBeutton2" [disabled]="!outputChangeMade"
            (click)="onOutputSave()">
            Save
          </button>
        </div>
      </mat-tab>
      <mat-tab label="Parameters">
        <div class="global-widget-area">
          <app-features-list-common (changeMade)="changeMade = $event" [numericalDataSource]="numericalDataSource"
            [categoricalDataSource]="categoricalDataSource" [configCache]="configCache">
          </app-features-list-common>
          <div class="p-4 ps-6">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px" class="border-bottom py-2">
              <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px">
                <div class="fw-bold">Test split ratio (%)</div>
                <mat-icon class="material-symbols-outlined text-grey"
                  matTooltip="{{MPR_information?.parameters?.split_ratio}}" matTooltipPosition="above">info</mat-icon>
              </div>
              <div fxLayout="row" fxLayoutAlign="end center" fxFlex>
                <mat-radio-group [ngModel]="getSplitType()" (ngModelChange)="setSplitType($event)"
                  [disabled]="configCache?.split_ratio === 0">
                  <mat-radio-button value="Random">Random</mat-radio-button>
                  <mat-radio-button value="Sequential">Sequential</mat-radio-button>
                </mat-radio-group>
              </div>
              <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="24px">
                <div fxFlex="288px" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                  <div fxFlex="60px">
                    <mat-form-field appearance="outline">
                      <input matInput value="{{getSplitRatio()}}" [disabled]="workflowCanvasService.IsViewingRunMode"
                        (keyup.enter)="setSplitRatio($event)" />
                    </mat-form-field>
                  </div>
                  <div fxFlex>
                    <mat-slider [disabled]="workflowCanvasService.IsViewingRunMode" [max]="99" [min]="0" [step]="1"
                      [discrete]="true" (change)="setSplitRatio($event)">
                      <input matSliderThumb [ngModel]="getSplitRatio()" />
                    </mat-slider>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="border-bottom py-2">
              <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px">
                <div class="fw-bold">Input feature scaling</div>
                <mat-icon class="material-symbols-outlined text-grey"
                  matTooltip="{{MPR_information?.parameters?.input_scaling}}" matTooltipPosition="above">info</mat-icon>
              </div>
              <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="24px">
                <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
                  <div fxFlex>
                    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="18px">
                      <mat-radio-group [ngModel]="getInputScaling()" (ngModelChange)="setInputScaling($event)">
                        <mat-radio-button value="Standard">Z-score (Standard)</mat-radio-button>
                        <mat-radio-button value="Min_Max">Min-Max</mat-radio-button>
                        <mat-radio-button value="Robust">Robust</mat-radio-button>
                        <mat-radio-button value="None">None</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center" class="border-bottom py-2">
              <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px">
                <div class="fw-bold">Polynomial degree</div>
                <mat-icon class="material-symbols-outlined text-grey"
                  matTooltip="{{MPR_information?.parameters?.polynomial_degree}}"
                  matTooltipPosition="above">info</mat-icon>
              </div>
              <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="24px">
                <div fxFlex="288px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                  <div fxFlex="60px">
                    <mat-form-field appearance="outline">
                      <input matInput value="{{getPolynomialDegree()}}"
                        [disabled]="workflowCanvasService.IsViewingRunMode || poly_deg_feat_checked"
                        (keyup.enter)="setPolynomialDegree($event)" />
                    </mat-form-field>
                  </div>
                  <div fxFlex>
                    <mat-slider [disabled]="workflowCanvasService.IsViewingRunMode || poly_deg_feat_checked" [max]="10"
                      [min]="1" [step]="1" [discrete]="true" (change)="setPolynomialDegree($event)">
                      <input matSliderThumb [ngModel]="getPolynomialDegree()" />
                    </mat-slider>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Advanced Parameters Accordion -->

          <mat-accordion class="global-accordion">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Advanced parameters</b>
                </mat-panel-title>
                <mat-panel-description>
                  Configure advanced model settings
                </mat-panel-description>
              </mat-expansion-panel-header>

              <!-- Polynomial Degree by Feature Section -->
              <div class="border-bottom pb-1">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="py-2">
                  <div fxFlex="none">
                    <mat-checkbox (change)="check_poly_deg_feat($event)" [(ngModel)]="poly_deg_feat_checked"
                      [disabled]="checkCatagoricalInputSelected()"></mat-checkbox>
                  </div>
                  <div fxFlex="none" class="fw-bold">Polynomial degree by feature</div>
                  <mat-icon class="material-symbols-outlined text-grey"
                    matTooltip="{{MPR_information?.parameters?.polynomial_degree_feature}}"
                    matTooltipPosition="above">info</mat-icon>
                </div>

                <!-- Polynominal Degree Features config-->
                <div *ngIf="poly_deg_feat_checked" class="ps-6">
                  <div *ngFor="let feature of configCache?.polynomial_degree_feature" fxLayout="row"
                    fxLayoutAlign="end center" fxLayoutGap="8px" class="ps-6">

                    <div fxFlex="none">
                      <div class="fw-bold">{{feature.feature_name}}</div>
                    </div>
                    <div fxFlex="100px">
                      <mat-form-field appearance="outline">
                        <input matInput [value]="getPolynomialDegreeFeature(feature.feature_name)"
                          [disabled]="workflowCanvasService.IsViewingRunMode"
                          (keyup.enter)="setPolynomialDegreeFeature($event, feature.feature_name)" />
                      </mat-form-field>
                    </div>
                    <div fxFlex="220px">
                      <mat-slider [disabled]="workflowCanvasService.IsViewingRunMode" [max]="10" [min]="1" [step]="1"
                        [discrete]="true" (change)="setPolynomialDegreeFeature($event, feature.feature_name)">
                        <input matSliderThumb [ngModel]="getPolynomialDegreeFeature(feature.feature_name)" />
                      </mat-slider>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Cross Validation Folds -->
              <div class="border-bottom pb-1">
                <div fxLayout="row" fxLayoutAlign="space-between center" class="py-2">
                  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <div fxFlex="none">
                      <mat-checkbox [(ngModel)]="isCVFoldsEnabled" (change)="toggleCVFolds($event)">
                      </mat-checkbox>
                    </div>
                    <div class="fw-bold">Cross-validation folds</div>
                    <mat-icon class="material-symbols-outlined text-grey"
                      matTooltip="{{MPR_information?.parameters?.cross_validation_folds}}"
                      matTooltipPosition="above">info</mat-icon>
                  </div>

                  <div *ngIf="isCVFoldsEnabled" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="24px">
                    <div fxFlex="288px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                      <div fxFlex="60px">
                        <mat-form-field appearance="outline">
                          <input matInput value="{{getCVFolds()}}" [disabled]="workflowCanvasService.IsViewingRunMode"
                            (keyup.enter)="setCVFolds($event)" />
                        </mat-form-field>
                      </div>
                      <div fxFlex>
                        <mat-slider [disabled]="workflowCanvasService.IsViewingRunMode" [max]="100" [min]="2" [step]="1"
                          [discrete]="true" (change)="setCVFolds($event)">
                          <input matSliderThumb [ngModel]="getCVFolds()" />
                        </mat-slider>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!-- Random State -->
              <div fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="space-between center" class="border-bottom py-2">
                <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
                  <div class="fw-bold">Random state</div>
                  <mat-icon class="material-symbols-outlined text-grey"
                    matTooltip="{{MPR_information?.parameters?.random_state}}"
                    matTooltipPosition="above">info</mat-icon>
                </div>
                <div fxLayout="row" fxLayoutAlign="end center" fxFlex>
                  <mat-radio-group [ngModel]="getRandomState()" (ngModelChange)="setRandomState($event)"
                    [disabled]="configCache?.split_type !== 'Random' || configCache?.split_ratio ===0">
                    <mat-radio-button [value]="null">None</mat-radio-button>
                    <mat-radio-button [value]="0">0</mat-radio-button>
                    <mat-radio-button [value]="42">42</mat-radio-button>
                  </mat-radio-group>

                </div>
                <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="24px">
                  <div fxFlex="288px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">

                    <div fxFlex="60px">
                      <mat-form-field *ngIf="getRandomState() !==null" appearance="outline">
                        <input matInput value="{{getRandomState()}}"
                          [disabled]="workflowCanvasService.IsViewingRunMode || configCache?.split_type !== 'Random' || configCache?.split_ratio === 0"
                          (keyup.enter)="setRandomState($event)" />
                      </mat-form-field>
                    </div>
                    <div fxFlex>
                      <mat-slider
                        [disabled]="workflowCanvasService.IsViewingRunMode || configCache?.split_type !== 'Random' || configCache?.split_ratio === 0 "
                        [max]="100" [min]="0" [step]="1" [discrete]="true" (change)="setRandomState($event)">
                        <input matSliderThumb [ngModel]="getRandomState()" />
                      </mat-slider>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Categorical Encoding -->
              <div fxLayout="row" fxLayoutAlign="space-between center" class="border-bottom py-2">
                <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
                  <div class="fw-bold">Categorical encoding</div>
                  <mat-icon class="material-symbols-outlined text-grey"
                    matTooltip="{{MPR_information?.parameters?.categorical_encoding}}"
                    matTooltipPosition="above">info</mat-icon>
                </div>

                <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="24px">
                  <mat-radio-group [ngModel]="getCategoricalEncoding()" (ngModelChange)="setCategoricalEncoding($event)"
                    [disabled]="!categoricalDataInput()">
                    <mat-radio-button value="One_hot">One-hot</mat-radio-button>
                    <mat-radio-button value="Mean">Mean</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

        </div>
        <div class="global-widget-actions" *ngIf="!workflowCanvasService.IsViewingRunMode">
          <button mat-stroked-button color="primary" id="closeButton3" [disabled]="!changeMade" (click)="onCancel()">
            Cancel
          </button>
          <button mat-flat-button color="primary" id="createBeutton3" [disabled]="!changeMade" (click)="onSave()">
            Save
          </button>
        </div>
      </mat-tab>
      <mat-tab label="Settings">
        <div class="global-widget-area">
          <app-settings (notifyParent)="onAppSettingsUpdated()" />
        </div>
        <div class="global-widget-actions" *ngIf="!workflowCanvasService.IsViewingRunMode">
          <button mat-stroked-button color="primary" id="closeButton3" [disabled]="!changeSetting"
            (click)="onCancelSetting()">
            Cancel
          </button>
          <button mat-flat-button color="primary" id="createBeutton3" [disabled]="!changeSetting"
            (click)="onSaveSetting()">
            Save
          </button>
        </div>
      </mat-tab>
      <mat-tab *ngIf="workflowCanvasService.IsViewingRunMode" label="Run Status">
        <app-execution-status widgetUrn="{{ getWidgetUrn() }}" />
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<app-config-action-bar widgetName="MPR Widget" widgetUrn="{{ getWidgetUrn() }}" siteId="1"
  (callParentFunction)="openModelPreveiwDialog($event)"></app-config-action-bar>