  .error-field .mat-form-field-outline {
    border-color: red !important;
  }
  
  .error-field .mat-form-field-label {
    color: red !important;
  }
  
  .error-field .mat-input-element {
    caret-color: red;
  }
  
  .mat-error {
    font-size: 12px;
    margin-top: 4px;
  }
  