.jh-table {
  th:nth-child(1) {
    width: 76px !important;
  }

  th:nth-child(2) {
    width: 180px;
  }

  th:nth-child(4) {
    width: 140px;
  }

  th:nth-child(5) {
    width: 120px;
  }

  th:nth-child(6) {
    width: 220px;
  }

  th:nth-child(7) {
    width: 76px;
  }

  .internal-content {
    padding: 0;
    border-bottom: 1px solid var(--stroke-lite);

    .row {
      padding: 4px 0;
    }
  }

}