.border-bt {
  border-bottom: 1px solid var(--stroke-lite);
  padding-bottom: 24px;
  margin-bottom: 24px !important;
}

.steps {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: var(--black);
}

.close-button {
  position: absolute;
  right: 20px;
}

.example-tree-invisible {
  display: none;
}

.selected {
  position: relative;
  background-color: var(--selected-surface);
  color: var(--primary);
  border-radius: 4px;

  .check {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    color: var(--primary);
  }
}