.images-preview-container {
    overflow-x: hidden;
    overflow-y: auto;

    .thumbnail {
        width: 160px;
        height: 160px;
        cursor: pointer;
        border: 4px solid var(--stroke-lite);

        &:hover {
            border-color: var(--primary);
        }
    }
}