RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
REDIS_DEFAULT_PASS=Databrick2024
CELERY_RESULT_BACKEND_URL=redis://:${REDIS_DEFAULT_PASS}@redis:6379/0
CELERY_BROKER_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbit_mq:5672//
IS_STANDALONE_DEPLOYMENT=True
MONGO_DETAILS=NONE
TDAM_SHARED_PATH=${THERMOCALC_HOME}
THERMOCALC_MONGO_DETAILS=mongodb://root:KJliu3bs41rivbQr@10.210.149.200:27020