.sort-button {
  height: 44px;
  width: 44px;
  border: 1px solid #EAEDF0;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  color: #1C1B1F;
}
.capitalize {
  text-transform: capitalize;
}
