.data-container {
  .heading {
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid var(--stroke-dark);
  }
  .title {
    font-size: 18px;
    font-weight: 500;
  }
}

.mat-column-column1,
.mat-column-column2 {
  border-right: 1px solid var(--stroke-dark);
}

.mat-column-missingValues {
  border-left: 1px solid var(--stroke-dark);
}