.compare-block {
  border-bottom: 4px solid var(--stroke-lite);
  padding-bottom: 24px;

  &:nth-child(2) {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.compare-metric-table {
  width: 100%;
  border-spacing: 0;

  th {
    text-align: left;
    border-bottom: 1px solid var(--stroke-lite);
    background-color: var(--secondary-surface);
    padding: 4px;
  }

  td {
    border-bottom: 1px solid var(--stroke-lite);
    padding: 4px;
  }
}