.prd-container {
    height: 100%;

    .header {
        padding: 6px 8px;
        border-bottom: 1px solid var(--stroke-lite);

        .title {
            font-size: 24px;
            font-weight: 500;
        }
    }

    .border-left {
        border-left: 1px solid var(--stroke-lite);
        padding-left: 4px;
    }

    .left-panel {
        width: 280px;
        border-right: 1px solid var(--stroke-lite);
        padding: 16px;
    }
}