/* Custom row hover style */
.custom-mat-row:hover {
    cursor: pointer; /* Change cursor to the default arrow */
    background-color: #f5f5f5; /* Highlight the row */
}
.table-container {
    max-height: 400px; /* Adjust height as needed */
    overflow-y: auto;
    display: block;
  }
  
  table {
    width: 100%;
  } 
  
