.custom-table-sm {
  width: 100%;
  border-spacing: 0;

  th {
    text-align: left;
    border-bottom: 1px solid var(--stroke-lite);
    background-color: var(--secondary-surface);
    padding: 4px;
  }

  td {
    border-bottom: 1px solid var(--stroke-lite);
    padding: 4px;
  }
}