.unique-values-container {
  border: 1px solid #9f9f9f;
  border-radius: 4px;
  overflow: hidden;
  margin: 20px;
}

.unique-values-viewport {
  height: 65vh;
}

.search-field {
  width:30vw; 
  margin: 10px 0px 20px 20px; 
}

.search-field .mat-form-field-outline {
  border-color: #9f9f9f;
}

.count-value {
  margin: 0px 0px 20px 20px;
}

.control-button {
  margin: 0px 20px 0px 0px;
}

.error-text {
  color: red;
  font-size: medium;
}