
.upload-button {
    background: var(--secondary-surface);
    padding: 16px;
    border-radius: 8px;
}

.filename-container {
    width: 300px;
    background: var(--white);
    border-radius: 8px;
    padding: 0px 8px;
}

.filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.mat-column-select {
    width: 80px;
    max-width: 80px;
}

.filename-background {
    background: #F7F8F9;
    padding: 16px;
    border-radius: 8px;
}