.image-aspect-container {
    position: relative;
    width: 100%;
    padding-bottom:75% ;
    // padding-bottom: 56.25%; /* For 16:9 aspect ratio. Adjust this as needed */
    // background-color: #f0f0f0; /* Optional, to show the loading space */
  }
  
  .global-image-fit-aspect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Original image: Maintain aspect ratio */
  }
  .title-aligned{
    text-align: center;
  } 
  