.border-bt {
    border-bottom: 1px solid var(--stroke-lite);
    padding-bottom: 24px;
    margin-bottom: 24px !important;
}

.steps {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #333333;
}

.close-button {
    position: absolute;
    right: 20px;
}

::ng-deep .mat-row:hover {
    cursor: pointer;
}