<ng-template #itemTemplate let-item="item" let-index="index">
  <div class="mst-select-filter-columns__item">
    <span
      class="mst-select-filter-columns__item__field mst-shared-truncate"
      [title]="item.data.field"
      >{{ item.data.field }}</span
    ><span>{{ item.data.type }}</span
    ><span>"{{ item.data.value }}"</span>
  </div>
</ng-template>
<mst-drop-list
  name="Filters"
  placeholder="Drop columns here"
  [items]="filterItems"
  [itemTemplate]="itemTemplate"
  [rightIconNames]="['settings', 'delete']"
  (iconClick)="onFilterListIconClick($event)"
  (drop)="onDrop($event)"
/>
<ng-template #dialogTemplate>
  <h2 mat-dialog-title>Edit Filter</h2>
  <mat-dialog-content>
    <mst-filter
      [fields]="columnItems"
      [filter]="item.filter"
      [targetItems]="targetItems"
      (change)="onFilterChange($event)"
    />
  </mat-dialog-content>
  <mat-dialog-actions class="mst-select-filter-columns__dialog__actions">
    <mst-button styleName="flat" (click)="onDialogAction()">Save</mst-button>
    <mst-button mat-dialog-close>Close</mst-button>
  </mat-dialog-actions>
</ng-template>
