.example-tree-invisible {
  display: none;
}

.selected {
  position: relative;
  background-color: var(--selected-surface);
  color: var(--primary);
  border-radius: 4px;

  .check {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    color: var(--primary);
  }
}