.move-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columns-table-outer {
    max-height: 50vh;
    border: 1px solid gray;
    border-radius: 5px !important;
    box-sizing: border-box;
    display: flex; 
    overflow-y: auto;
    flex-direction: column;
}


.columns-table-container {
    flex: 1 1 auto;
    max-height: 40%;
    overflow-y: auto;
}