.image-thumbnail {
    height: 100px;
    width: 110px;
}

.dataset-table {

    th:nth-child(2),
    td:nth-child(2) {
        width: 140px;
    }

    th:nth-child(3),
    td:nth-child(3) {
        width: 100px;
    }

    th:nth-child(4),
    td:nth-child(4) {
        width: 180px;
    }

    th:nth-child(5),
    td:nth-child(5) {
        width: 210px;
    }

    th:nth-child(6),
    td:nth-child(6) {
        width: 210px;
    }

    th:nth-child(7),
    td:nth-child(7) {
        width: 56px;
    }

    @media (max-width: 1599px) {

        th,
        td {
            padding: 8px;
            font-size: 13px;
            line-height: 1.2;
        }

        th:nth-child(2),
        td:nth-child(2) {
            width: 140px;
        }

        th:nth-child(3),
        td:nth-child(3) {
            width: 80px;
        }

        th:nth-child(4),
        td:nth-child(4) {
            width: 160px;
        }

        th:nth-child(5),
        td:nth-child(5) {
            width: 160px;
        }

        th:nth-child(6),
        td:nth-child(6) {
            width: 160px;
        }

        th:nth-child(7),
        td:nth-child(7) {
            width: 40px;
        }

        .svg-icon,
        .mat-icon {
            width: 20px;
            height: 20px;
            font-size: 20px;
        }

        .global-type-chip {
            font-size: 11px;
        }
    }

    @media (max-width: 1399px) {

        th,
        td {
            padding: 4px;
            font-size: 12px;
            line-height: 1.2;
        }

        th:nth-child(2),
        td:nth-child(2) {
            width: 120px;
        }

        th:nth-child(3),
        td:nth-child(3) {
            width: 60px;
        }

        th:nth-child(4),
        td:nth-child(4) {
            width: 130px;
        }

        th:nth-child(5),
        td:nth-child(5) {
            width: 130px;
        }

        th:nth-child(6),
        td:nth-child(6) {
            width: 130px;
        }

        th:nth-child(7),
        td:nth-child(7) {
            width: 28px;
        }

        .svg-icon,
        .mat-icon {
            width: 20px;
            height: 20px;
            font-size: 20px;
        }

        .global-type-chip {
            font-size: 11px;
        }
    }

}

.expand-icon {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    display: inline-block;
    color: #6c757d;
    margin-right: 4px;
    text-align: center;

    &:hover {
        color: #343a40;
        background-color: #e9ecef;
    }
}