.login-container {
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: var(--primary-lite);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  .login-box {
    max-width: 480px;
  }

  .logo {
    text-align: center;
    padding-bottom: 32px;
  }

  .logo img {
    max-width: 360px;
  }

  .title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: var(--primary);
    padding-bottom: 32px;
  }

  .sub-title {
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 8px;
    text-align: center;
  }

  .login-btn {
    width: 100%;

    img {
      width: 24px;
      margin-right: 4px;
      vertical-align: middle;
    }
  }
}