<div fxLayout="column" class="h-100">
  <div
    fxFlex="none"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="p-6 border-bottom"
  >
    <div>
      <h1>Update Published Workflow</h1>
    </div>
    <div>
      <button mat-icon-button (click)="onClosePanel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div fxFlex="none" fxLayout="column" fxLayoutGap="16px" class="p-6">
    <div>
      <div
        fxLayout="row"
        fxLayoutGap="4px"
        fxLayoutAlign="start center"
        class="mb-1"
      >
        <div class="fw-bold">Name</div>
        <div>
          <mat-icon
            class="material-symbols-outlined global-info-icon"
            matTooltip="The name of the workflow."
            >info</mat-icon
          >
        </div>
      </div>
      <mat-form-field appearance="outline">
        <input
          matInput
          id="name"
          name="newWorkflowName"
          required
          [(ngModel)]="workflowName"
          (ngModelChange)="handleChange()" 
          placeholder="Enter name"
        />
        <mat-error *ngIf="workflowSessionNameError">{{
          workflowSessionNameError
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <div
        fxLayout="row"
        fxLayoutGap="4px"
        fxLayoutAlign="start center"
        class="mb-1"
      >
        <div class="fw-bold">Description</div>
        <div>
          <mat-icon
            class="material-symbols-outlined global-info-icon"
            matTooltip="The description of the workflow."
            >info</mat-icon
          >
        </div>
      </div>
      <mat-form-field appearance="outline">
        <input
          matInput
          id="description"
          name="newWorkflowDescription"
          required
          [(ngModel)]="workflowDesription"
          (ngModelChange)="handleChange()"
          placeholder="Enter description"
        />
        <mat-error *ngIf="workflowSessionDescriptionError">{{
          workflowSessionDescriptionError
        }}</mat-error>
      </mat-form-field>
    </div>
    <!--<div>
      <div
        fxLayout="row"
        fxLayoutGap="4px"
        fxLayoutAlign="start center"
        class="mb-1"
      >
        <div class="fw-bold">Owner Name</div>
        <div>
          <mat-icon
            class="material-symbols-outlined global-info-icon"
            matTooltip="Owner Name."
            >info</mat-icon
          >
        </div>
      </div>
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="selectedOwner" placeholder="Select Owner">
          <mat-option *ngFor="let owner of ownerNameArray" [value]="owner">
            {{ owner.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="workflowSessionOwnerError">{{
        workflowSessionOwnerError
      }}</mat-error>
    </div>
    -->
  </div>
  <div
    fxFlex="none"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="16px"
    class="p-6 pt-0"
  >
    <button mat-stroked-button color="primary" (click)="onClosePanel()">
      Cancel
    </button>
    <button mat-flat-button color="primary" (click)="onUpdateWorkflow()" [disabled]="updateButton">
      Save
    </button>
  </div>
</div>
