.select-all {
    margin: 5px 0px 5px 15px;
}

.move-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.columns-section-container {
    max-width: 500px;
}

.truncate-column-name {
    display: inline-block;
    max-width: 15vw; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle; 
}

.change-type-truncate {
    max-width: 10vw;
}

.columns-table-outer {
    max-height: 50vh;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 5px !important;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
}

.change-type-outer {
    max-height: 55vh !important;
}

.columns-table-container {
    flex: 1 1 auto;
    max-height: 100%;
    overflow-y: auto;
}

.columns-table {
    border-collapse:  collapse;
    width: 100%;
}

.columns-table-cell {
    border: none;
}

.name-cell {
    width: 45%;
}

.type-cell {
    width: 25%;
}

.new-type-cell {
    width: 30%;
}

.available-column-name {
    width: 70%;
}

.available-column-type {
    width: 30%;
}