.data-import-icons {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border-color: grey;
  opacity: 0.6;
  margin: 0px 10px 0px 0px;
  width: 22px;
  height: 22px;
}

.import-data-panel {
  margin: 10px 18px;
  font-size: small;
  letter-spacing: 0px;
}

.scrollable {
  height: 400px;
  overflow-y: auto;
}

.image-card {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.data-icon {
  display: block;
  padding: 4px;
  border-radius: 4px;
  background-color: var(--secondary-surface);
  color: var(--grey);
  cursor: pointer;
}

/* Custom row hover style */
.custom-mat-row:hover {
    cursor: pointer; /* Change cursor to the hand pointer */
    background-color: #f5f5f5; /* Highlight the row */
}