<mst-table
  [limit]="limit"
  [items]="items"
  [hasMore]="hasMore"
  [loading]="loading"
  [hasSort]="hasSort"
  [hasCheckbox]="hasCheckbox"
  [columnPagination]="columnPagination"
  [keyField]="keyField"
  [multiSelect]="multiSelect"
  [selectedIds]="selectedIds"
  [columns]="columns"
  (cellClick)="onCellClick($event)"
  (sort)="onSort($event)"
  (selectedIdsChange)="onSelectedIdsChange($event)"
  (loadMore)="onLoadMore($event)"
  (change)="onChange($event)"
  (arrowClick)="onArrowClick($event)"
/>
