.context-menu {
    background-color: #eeeeee;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 200px; // This is an arbitrary value, adjust as needed.
  }
  
  .context-menu-item {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #dddddd; // Slightly darker background on hover
      
    }
  }
  