.heading-support{
    display: flex;
    align-items: center;
}

.parent-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .parent-item {
    margin-bottom: 10px;
  }
  
  .parent-header {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .child-list {
    list-style-type: none;
  }

  .child-list li:hover{
    background-color: var(--selected-surface);
  }
  
  .icon-container {
    margin-right: 8px;
  }

  .active {
    background-color: #dcecf7;
  }
  
.buttons-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}
