.fe-container {
  .fe-row {
    padding: 8px 0;
    border-bottom: 1px solid var(--stroke-lite);
    font-size: 16px;
  }

  .fe-row.selected {
    background-color: var(--selected-surface);
  }

  .text-column {
    min-height: 44px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .selected-rows {
    background-color: var(--secondary-surface);
    padding: 4px 8px;
    border-radius: 4px;
  }
}