.title {
  border-bottom: 1px solid var(--stroke-lite);
  padding-bottom: 20px;
  margin-bottom: 24px;
  color: var(--secondary);
  line-height: 36px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.close-button {
  position: absolute;
  right: 9px;
  top: 9px;
}