.image-annotate-container {
    height: calc(100% - 60px);
    margin-bottom: 16px;
}

@media (max-width: 1280px) {
    .hide-sm {
        display: none;
    }
}

.annotation-tools {
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid var(--stroke-lite);

    .tool {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-right: 1px solid var(--stroke-lite);
        color: var(--grey);
        cursor: pointer;

        &:hover {
            color: var(--primary);
        }

        &:last-child {
            border-right: none;
        }

        &.selected {
            color: var(--primary);
            cursor: default;
            background-color: var(--selected-surface);
        }

        &.disabled {
            color: var(--grey-lite);
            cursor: default;
        }
    }
}

.annotation-list {

    .header {
        padding: 4px 12px 4px 8px;
        font-weight: bold;
        border-bottom: 1px solid var(--stroke-lite);
    }

    .content {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .row {
        padding: 4px 4px 4px 8px;
        border-bottom: 1px solid var(--stroke-lite);

        .mat-icon {
            top: 2px;
        }

        .rename-input {
            width: 100%;
            border: none;
            outline: none;
        }

        .label-select {
            cursor: pointer;
        }
    }
}

.text-blue {
    color: var(--blue) !important;
}

.text-pink {
    color: var(--pink) !important;
}

.text-green {
    color: var(--green) !important;
}

.text-orange {
    color: var(--orange) !important;
}

.text-brown {
    color: var(--brown) !important;
}

.text-red {
    color: var(--red) !important;
}

.segmented-image-container {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.select-box {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    width: 360px;
}

.custom-label-cancel {
    position: absolute;
    top: 10px;
    right: 24px;
    cursor: pointer;
    color: var(--grey);

    &:hover {
        color: var(--primary);
    }
}

.custom-label-check {
    position: absolute;
    top: 10px;
    right: -6px;
    cursor: pointer;
    color: var(--grey);

    &:hover {
        color: var(--primary);
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
