.changePass mat-form-field {
    margin-top: 20px;
}

.error-message {
    font-weight: 500;
    color: red;
    margin-top: 10px;
}

.input-field {
    border-radius: 8px;
    width: 100%;
    border: 1px solid #ccc;
}

.input-field:focus {
    outline: none;
}

.input-field::placeholder {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #87898A;
}

.toggle-icon {
    position: absolute;
    right: 10px;
    /* adjust based on your requirements */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    /* adjust if you want to change the icon size */
    color: #87898A
}