.custom-ellipse {
    display: block;
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 1399px) {

    .jobs-table .mat-mdc-header-cell,
    .jobs-table .mat-mdc-cell {
        padding: 0 4px 0 4px;
        font-size: 12px;
        line-height: 1.2;
    }
}