.container {
	width: 100%;
	height: 100%;
}

.centered-content {
    display: flex;
    flex-direction: column; /* stacks children vertically */
    justify-content: center; /* centers items on the vertical axis */
    align-items: center;     /* centers items on the horizontal axis */
    height: 100vh;        
    background-color:white;
}

.change-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;
    width: 500px; /* adjust based on preference */
}
.input-field {
    margin: 10px 0;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    border: 1px solid #ccc;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns items to the left */
    width: 100%; 
    margin-top: 10px;
}

.checkbox-container label {
    cursor: pointer;
}

.forgot-password {
    cursor: pointer;
    text-decoration: underline;
    color: blue; /* or any preferred color */
    margin-top: 5px;
    
}

.button-container {
    display: flex;
    justify-content: center; /* This centers the buttons horizontally */
    align-items: center; /* This centers the buttons vertically if needed */
  }
  

.change-password-button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #007BFF; /* a blue shade, adjust as per preference */
    color: white;
    cursor: pointer;
    margin-top: 10px;
    display: flex; /* use flexbox to align items */
    align-items: center; /* centers items vertically */
    justify-content: center; /* centers items horizontally */
    width: 200px;
    font-size:15px;
    margin-top:20px;
}
.change-password-button:disabled {
    background-color: #cccccc; /* Gray background */
    color: #666666; /* Darker gray text */
    cursor: not-allowed;
    /* other styles to indicate the button is disabled */
  }
.change-password-button-cancel {
    width: 100px;
}
.change-password-button-change {
    margin-left: 20px;
}
.change-password-button img {
    margin-right: 8px; /* space between the image and the text */
    height: 25px; /* or any desired size */
    width: auto; /* maintain aspect ratio */    
}
.toggle-icon {
    position: absolute;
    right: 10px;   /* adjust based on your requirements */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px; /* adjust if you want to change the icon size */
}
.password-container {
    position: relative;
    width: 100%;
}

.footer-container {
    display: flex;
    margin-top: 40px;
    justify-content: space-between; // This will push the child elements apart, one to the far left and the other to the far right
    width:500px;
    .left-align {
        text-align: left; // Explicitly align text to the left
    }

    .right-align {
        text-align: right; // Explicitly align text to the right
    }
}

.cdk-overlay-dark-backdrop {
    background-color: rgba(1, 0, 0, 0.7); /* Adjust the RGBA values as needed */
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid white;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  