.y-axis-tick {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  top: 2px
}

.custom-font-style {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  fill-opacity: 1;
  white-space: pre;
  opacity: 1;
}

.plot-graph1 {
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  max-height: 100% !important;
}

.graph-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-graph {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.interactive-graph {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#heatmap {
  width: 100%;  /* Full width of the parent */
  height: 100%; /* Full height of the parent */
  position: relative; /* Required for responsive behavior */
}

.correlation-error {
  color: red;
  font-size: large;
}

.correlation-plot {
  width: 100%;
  height: 100%; 
}

.correlation-visualizaion-axes {
  max-width: 15vw;
}

.no-numerical-cols {
  font-size: medium;
  color: #757575;
}