.main {    
  background-color: white;
  overflow: auto;
  border: 0px;
  margin: 10px;
  max-height: 80vh; /* Optional: limits the content to 80% of the viewport height */
  line-height: 1.5;
}

.header {
  background-color: #eeeeee;
}

.logo {
  height: 50px; // You can adjust this based on your logo's desired display size
  width: auto;  // Maintains aspect ratio
  margin-left: 10px; // Some space from the left edge  
}

.close-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007BFF; /* a blue shade, adjust as per preference */
  color: white;
  cursor: pointer;
  align-items: center; /* centers items vertically */
  justify-content: center; /* centers items horizontally */
  width: 200px;
  font-size:15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth;
}

.footer {
  height: 60px;
  min-height: 60px;
  background-color: #eeeeee;
  display: flex;
  align-items: center; // This will center the child button vertically
  justify-content: center; // This will center the child button horizontally  
}